<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{> header}}
<p>I need to know you</p>

{{screamIt welcomeMessage}}

{{> footer}}
</body>
</html>